<div id="delete-modal">
	<div class="popup-box-wrapper">
		<div class="popup-box-content">
			<div class="close" id="delete-modal-close" data-target="delete-modal">
				<a href="javascript:void(0)">
					<img src="/media/close.svg" alt="close-delete-popup">
				</a>
			</div>
			<p class="popup-message">Delete this spend?</p>
			<button class="button small" id="delete-modal-cancel" data-target="delete-modal">No</button>
			<button class="button small" id="delete-modal-confirm" data-target="delete-modal">Yes</button>
		</div>
	</div>
</div>