		<footer>
			<p>Copyright</p>
		</footer>
	</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
		<script type="module" src="/scripts/createCharts.js"></script>

</body>
</html>