		<footer>
			<p>Copyright</p>
		</footer>
	</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
		<script type="text/javascript" src="/scripts/scripts.js"></script>
		<script src="/scripts/createCharts.js"></script>
</body>
</html>