<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/header-footer.css">
	<link rel="stylesheet" href="/stylesheets/login-register.css">
	<title>Spend Tracker</title>
</head>
<body>
	<div id="page-container">
		<nav>
			<div class="nav-container">
				<div class="branding">
					Spend Tracker
				</div>
			</div>	
		</nav>

	
	
	
