<% include partials/header.ejs %>

		<section class="page-content">
			<div class="offset"></div>
			<div class="grid-container">
				<section class="spend-item-list">
					<div class="spend-item">
						<div class="date-box">
							<div class="date">31</div>
						</div>
						<div class="category-box">
							<div class="category">Commute</div>
							<div class="separator">
								<img src="/media/separator.svg" alt="separator">
							</div>
							<div class="sub-category">Cab</div>
						</div>
						<div class="item-box">
							<div class="item-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, quam!</div>
							<div class="item-amount">1000.00</div>
						</div>
						<div class="edit-box">
							<a href="">
								<img src="/media/edit-icon.svg" alt="">
							</a>
						</div>
						<div class="delete-box">
							<a href="">
								<img src="/media/delete-icon.svg" alt="">
							</a>
						</div>

					
					</div>
					<div class="spend-item">
						<div class="date-box">
							<div class="date">31</div>
						</div>
						<div class="category-box">
							<div class="category">Commute</div>
							<div class="separator">
								<img src="/media/separator.svg" alt="separator">
							</div>
							<div class="sub-category">Cab</div>
						</div>
						<div class="item-box">
							<div class="item-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, quam!</div>
							<div class="item-amount">1000.00</div>
						</div>
						<div class="edit-box">
							<a href="">
								<img src="/media/edit-icon.svg" alt="">
							</a>
						</div>
						<div class="delete-box">
							<a href="">
								<img src="/media/delete-icon.svg" alt="">
							</a>
						</div>

					
					</div>
					<div class="spend-item">
						<div class="date-box">
							<div class="date">31</div>
						</div>
						<div class="category-box">
							<div class="category">Commute</div>
							<div class="separator">
								<img src="/media/separator.svg" alt="separator">
							</div>
							<div class="sub-category">Cab</div>
						</div>
						<div class="item-box">
							<div class="item-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, quam!</div>
							<div class="item-amount">1000.00</div>
						</div>
						<div class="edit-box">
							<a href="">
								<img src="/media/edit-icon.svg" alt="">
							</a>
						</div>
						<div class="delete-box">
							<a href="">
								<img src="/media/delete-icon.svg" alt="">
							</a>
						</div>

					
					</div>
					<div class="spend-item">
						<div class="date-box">
							<div class="date">31</div>
						</div>
						<div class="category-box">
							<div class="category">Commute</div>
							<div class="separator">
								<img src="/media/separator.svg" alt="separator">
							</div>
							<div class="sub-category">Cab</div>
						</div>
						<div class="item-box">
							<div class="item-name">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, quam!</div>
							<div class="item-amount">1000.00</div>
						</div>
						<div class="edit-box">
							<a href="">
								<img src="/media/edit-icon.svg" alt="">
							</a>
						</div>
						<div class="delete-box">
							<a href="">
								<img src="/media/delete-icon.svg" alt="">
							</a>
						</div>

					
					</div>
				</section>
				<section class="add-item-container">
					<h1>Add item from here</h1>
				</section>
				<section class="stats-container">
					<h1>Stats Go Here</h1>
				</section>
			</div>
		</section>


<% include partials/footer.ejs %>