<% include partials/header.ejs %>
		
		<section class="page-content">
			<div class="form-container">
				<% if (errorMessage) { %>
					<div class="api-error"><%= errorMessage %></div>
				<% } %>
				<h3>Login</h3>
				<form id="login-form" action="/login" method="POST" novalidate>
					<div class="form-field">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" placeholder="Enter your email ID" required>
						<span class="error-message hidden"></span>
					</div>
					<div class="form-field">
						<label for="password">Password</label>
						<input type="password" name="password" id="login-password" placeholder="Enter your password" required>
						<span class="error-message hidden"></span>
					</div>
					<button type="submit" class="button form-button">Login</button>
				</form>
				<div class="reg-info">
					<p>New to Spend Tracker?</p>
					<a href="register" class="button">Register</a>
				</div>
			</div>
		</section>


<% include partials/footer.ejs %>