html,
body {
	display: block;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	min-height: 100vh;
}

#page-container {
	min-height: 100vh;
	position: relative;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	height: 80px;
	width: 100%;
	background: rgb(18, 97, 72);
	background: linear-gradient(
		90deg,
		rgba(18, 97, 72, 1) 0%,
		rgba(0, 143, 68, 1) 100%
	);
	position: fixed;
	overflow: auto;
}

.nav-container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}

footer {
	width: 100%;
	height: 2.5rem;
	background: rgb(6, 27, 20);
	color: #f7f7f7;
	opacity: 0.75;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.branding {
	font-size: 1.2rem;
	color: #f7f7f7;
}

.nav-elements-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-elements-right .profile ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
	color: #d7d7d7;
}

.nav-elements-right .profile ul li {
	padding: 0 1rem;
}

a,
a:visited {
	color: #f7f7f7;
	transition: opacity 150ms ease-in-out;
}

a:hover {
	opacity: 0.7;
}

/* .profile-image {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-left: 1.5rem;
}

.profile-image img {
	height: 100%; 
	width: auto;
	margin: 0 auto;
	margin-left: -25%;
} */

/* .date-selector {
	margin: 1.5rem 2rem;
} */

/* Attribution - Daniel David https://codepen.io/danield770/pen/bgJOyV?editors=1100 */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 6rem;
	height: 2rem;
	padding: 0.2rem 1.3rem 0.2rem 1rem;
	background: url(/media/drop-down-arrow.svg) 96% / 12% no-repeat #eee;
	border: none;
	box-sizing: content-box;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
	display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
	select {
		background: none\9;
		padding: 5px\9;
	}
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}
option:not(:checked) {
	color: black; /* prevent <option>s from becoming transparent as well */
}

h3 {
	text-transform: uppercase;
}

@media screen and (min-width: 769px) {
	.nav-container {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.branding {
		font-size: 2rem;
	}

	.date-selector {
		margin: 1rem 2rem;
	}

	nav {
		height: 80px;
	}
}
